.buttons{
  justify-content: center;
  justify-items: center;
}
.buttons button{
  font-size: 20px;
  font-family: sans-serif;
  background-color: #ffffff;
  text-decoration: none;
  border: none;
  width: 78px;
  border-radius: 5px;
  height: 50px;
  margin: 1px 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 7px 13px -3px rgba(0, 0, 0, 0.3), 0px -3px 0px inset rgba(0, 0, 0, 0.2)
}